<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="segundosPoleo" value="60"></add>
    <add key="LogDirectory" value="C:\Bitacora\" />
    <add key="ConfigDirectory" value="C:\Configuraciones\" />
    <add key="Clave" value="Mabel"/>
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_INapoleonService" />
                <binding name="BasicHttpBinding_IService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://desktop-e8i0oan/SERV_FEEDT2/Bibl_F33D2.Service1.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
                contract="ServicioMueveEstudio.IService1" name="BasicHttpBinding_IService1" />
            <endpoint address="http://localhost/Napoleon/Services/NapoleonService.svc/soap"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INapoleonService"
                contract="Feed2Service.INapoleonService" name="BasicHttpBinding_INapoleonService" />
        </client>
    </system.serviceModel>
</configuration>