<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="segundosPoleo" value="60"></add>
    <add key="LogDirectory" value="C:\Bitacora\" />
    <add key="ConfigDirectory" value="C:\Configuraciones\" />
    <add key="Clave" value="Mabel"/>
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_INapoleonService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://201.149.27.38:9010/Services/NapoleonService.svc/soap"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INapoleonService"
                contract="Feed2Service.INapoleonService" name="BasicHttpBinding_INapoleonService" />
        </client>
    </system.serviceModel>
</configuration>